/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

.button {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    background-color: #333;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: sans-serif;
    border: 1px solid #333;
    transition: all .9s;
}

.button:hover {
    color: #333;
    background-color: #fff;
}

.active {
    font-size: 26px;
}

.active:active {
    color: green;
    font-size: 40px;
}